<div class="lxgs-password">
	<!-- 标题头 | 修改密码 -->
	<h2 class="lxgs-main-title">{{$route.meta.pageTitle}}</h2>
	<div class="lxgs-main-content">
		<div class="account">
			<el-form ref="changePassword" :model="changePasswordData" :rules="changePasswordDataRules" label-width='150px'>
				<el-form-item prop='oldPassword' label="旧密码：">
					<el-input type='password' v-model="changePasswordData.oldPassword" placeholder="请输入旧密码"></el-input>
				</el-form-item>

				<el-form-item prop='newPassword' label="新密码：">
					<el-input type='password' v-model="changePasswordData.newPassword" placeholder='请输入新密码'></el-input>
				</el-form-item>
				
				<el-form-item>
					<el-button :loading="loading" type="primary" class="submit" @click='submit("changePassword")' v-track="{type: 'btn', metric: 'click', id: 'change-password:submit'}">确认</el-button>
				</el-form-item>
			</el-form>
		</div>
	</div>
</div>