<div class="lxgs-customer-detail">
	<!-- 标题头  -->
	<h2 class="lxgs-main-title">{{$route.meta.pageTitle}}</h2>

	<!-- 跟踪提醒 | 领周薪 | 推荐工作 -->
	<div class="action" v-if="hasRole('AGENT_MEMBER')">
		<el-button type="primary" plain size='medium' @click="isShowRemarkPop = true" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:remark-note'}">用户备注+添加注记</el-button>
		<el-button type="primary" plain size='medium' @click="isShowReturnVist = true" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:return-visit'}">跟踪提醒</el-button>
		<el-button type="primary" plain size='medium' @click="skipWeekSalaryPage" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:sign-in'}">打卡记录/周薪/日日返</el-button>
		<el-button type="primary" plain size='medium' @click="recommendJob" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:recommend-position-list'}">推荐工作</el-button>
	</div>

	<!-- 客戶信息 -->
	<div class="lxgs-main-content">
		<div class="members">
			<span class="title">{{info.memberLevel === 0 ? '普通会员': '黄金会员'}}</span>
			<span class="rank" v-if='info.memberLevel === 0'>有效期：无期</span>
			<span class="rank" v-else>有效期：{{info.memberTo | dateFormat02}}</span>
		</div>
		<div class="user-rank"><span class="title">等级</span> <span class="rank">{{info.rank}}</span></div>
		
		<ul class="customer-info clearfix">
			<li>{{info.phone}}
				<lxgs-call :user-id="$route.params.customerId" shape='round' text="固话拨打" v-if='isTel' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:call'}"></lxgs-call>
				<lxgs-call :user-id="$route.params.customerId" call-way='app' icon='el-icon-mobile-phone' shape='round' text="APP拨打" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:call-app'}"></lxgs-call>
				<router-link :to="{name: 'call-single-record', params: {userId: $route.params.customerId}}" target='_blank' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:single-call'}">通话记录</router-link>
			</li>
			<li>{{info.userName}} ({{info.sex | customerSexMap}})</li>
			<li v-if='remarkDetail.nickname'>常用称呼：{{remarkDetail.nickname}}</li>
			<li v-if='info.idCardVerified'>已实名认证：{{info.age}}岁，{{info.constellation}}，{{info.minzu}}</li>
			<li v-if='info.jiguan'>家乡：{{info.jiguan}}</li>
			<li v-if="!info.idCardVerified && hasRole('AGENT_MEMBER')">未实名认证 <el-button type="primary" size='medium' @click='isShowAuth = true'>去认证</el-button></li>
		</ul>

		<ul class="regist-info clearfix">
			<li>注册时间：{{info.registerTime | dateFormat01}}</li>
			<li>
				注册渠道：<span :class="info.sourceName === '深圳网页' || info.sourceName === '成都网页' ? 'lxgs-red' : ''">{{info.sourceAreaName}}{{info.sourceName}} ({{info.source}})</span>
			</li>
			<li>关键词：<span>{{info.sourceKeyword}}</span></li>
			<li>意向岗位：<span>{{info.sourcePositionName}}</span></li>
			<li>推荐人：{{info.referrer}}</li>
			<li>前任小职姐：{{info.exAgentNickname}}</li>
		</ul>

		<ul class="remark-info clearfix">

			<li v-if='remarkDetail.wechat'>微信：{{remarkDetail.wechat}}</li>

			<li v-if='remarkDetail.age'>年龄：{{remarkDetail.age}}</li>
			<li v-if='remarkDetail.sex || remarkDetail.sex === 0'>性别：{{remarkDetail.sex | customerSexMap}}</li>
			<li v-if='remarkDetail.education'>学历：{{remarkDetail.education}}</li>
			<li v-if='remarkDetail.onboarding'>在离职状态：{{remarkDetail.onboarding | userJobStatusMap}}</li>
			<li v-if='remarkDetail.currentSalary'>当前月薪：{{remarkDetail.currentSalary}}</li>
			<li v-if='remarkDetail.expectCityName'>期望工作地：{{remarkDetail.expectCityName}}</li>
			<li v-if='remarkDetail.expectPosition'>求职方向：{{remarkDetail.expectPosition}}</li>
			<li v-if='remarkDetail.expectOnboardingDate'>求职紧迫度：{{remarkDetail.expectOnboardingDate}}</li>
			
			<li v-if='remarkDetail.tags'>特殊标记： <span v-for="i in remarkDetail.tags" class="tags">{{i | userTagsMap}}</span></li>
			<li v-if='remarkDetail.skillTag'>技能：{{remarkDetail.skillTag | userSkillTagStatusMap}}</li>

			<li v-if='remarkDetail.marital'>婚姻状况：{{remarkDetail.marital | marryStatusMap}}</li>
			<li v-if='remarkDetail.birthplaceProvince'>籍贯老家：{{remarkDetail.birthplaceProvince}}-{{remarkDetail.birthplaceCity}}-{{remarkDetail.birthplaceArea}}</li>
			<li v-if='remarkDetail.currentProvince'>当前所在地：{{remarkDetail.currentProvince}}-{{remarkDetail.currentCity}}-{{remarkDetail.currentArea}}</li>
			<li v-if='remarkDetail.goOut'>出门多久：{{remarkDetail.goOut}}</li>
			<li v-if='remarkDetail.findJob'>找工作多久：{{remarkDetail.findJob}}</li>
			<li v-if='remarkDetail.peoples'>抱团/单人：{{remarkDetail.peoples}}</li>
			<li v-if='remarkDetail.painPoints'>痛点：{{remarkDetail.painPoints}}</li>
		</ul>

		<ul class="latest-note clearfix" v-for="i in record.items">
			<li>历史注记：{{i.updateTime | dateFormat01}}</li>
			<li>注记人：{{i.operatorName}}</li>
			<li>沟通方式：{{i.communicateMethod | recordWayMap}}</li>
			<li>注记内容：{{i.comment}}</li>
			<li>
				<router-link :to='{
    				name: "customer-note-list",
    				params: {
    					customerId: $route.params.customerId
    				}
    			}' target='_blank' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:history-note'}">查看全部</router-link>
			</li>
		</ul>
	</div>

	<!-- 下一个任务：仅从任务列表过来才展示 -->
	<span class="next-task" v-if="$route.query.taskTypeId && info.nextUserId" @click="nextTask" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:next-task'}">下一个任务</span>

	<!-- 任务列表 -->
	<div class="lxgs-main-list">
		<el-table :data='task.items' stripe :virtual-scrollbar='true'>

			<el-table-column prop='taskNo' label='任务编号' width="90"></el-table-column>

			<el-table-column prop='taskTypeName' label="任务类型" width="120"></el-table-column>

			<el-table-column prop='taskDescription' label="任务描述"></el-table-column>

			<el-table-column label="提醒时间" width="140">
				<template slot-scope="scope">
	                {{scope.row.startTime | dateFormat01}}
	            </template>
			</el-table-column>

			<el-table-column label="状态" width="70">
				<template slot-scope="scope">
	                {{scope.row.status | taskStastusMap}}
	            </template>
			</el-table-column>

			<el-table-column label="操作" width="130" v-if="hasRole('AGENT_MEMBER')">
				<template slot-scope="scope">
	                <el-button type="text" size="medium" @click='complete(scope.row.taskId, scope.row.taskTypeId, scope.row.userId)' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:task-complete'}">完成</el-button>
	                <el-button v-if="scope.row.taskTypeId === '14'" type="text" size="medium" @click='showDelayTask(scope.row.taskId, scope.row.userId)' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:task-delay'}">延迟处理</el-button>
	            </template>
			</el-table-column>
		</el-table>

		<!-- 任务列表分页 -->
		<div class='lxgs-main-pagination'>
			<el-pagination
				@size-change="handlePageChange($event, 'taskData', 'pageSize', 'getTaskListWS')"
		  		@current-change="handlePageChange($event, 'taskData', 'pageNo', 'getTaskListWS')"
		  		:current-page='task.pageNo'
				:page-sizes="pageSizes"
				:page-size='task.pageSize'
				layout="total, sizes, prev, pager, next, jumper"
				:total='task.totalCount'></el-pagination>
		</div>
	</div>

	<!-- 用户备注信息 和 历史注记 Popup -->
	<el-dialog
		:visible.sync="isShowRemarkPop"
		class="user-remark-popup"
		width="70%">
			<h3>用户备注</h3>
			<el-form label-width='120px' ref="addRemark" class='clearfix'>
				<el-col :span="8">
					<el-form-item label='常用称呼：'>
						<el-input v-model.trim="remarkData.nickname" placeholder="请填写常用称呼"></el-input>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='性别：'>
						<el-radio v-model="remarkData.sex" :label="1">男</el-radio>
						<el-radio v-model="remarkData.sex" :label="2">女</el-radio>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='年龄：'>
						<el-input v-model.number="remarkData.age" placeholder="请填写年龄" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="3"></el-input>
					</el-form-item>
				</el-col>

				<el-col :span="16">
					<el-form-item label='求职方向：'>
						<el-radio-group v-model="remarkData.expectPosition">
							<el-radio v-for="(i, index) in objective" :key='index' :label="i">{{i}}</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='微信：'>
						<el-input v-model.trim="remarkData.wechat" placeholder="请填写微信号"></el-input>
					</el-form-item>
				</el-col>

				<el-col :span="16">
					<el-form-item label='求职紧迫度：'>
						<el-radio-group v-model="remarkData.expectOnboardingDate">
							<el-radio v-for="(i, index) in expectedEntryTime" :key='index' :label="i">{{i}}</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='出门多久：'>
						<el-input v-model.trim="remarkData.goOut" placeholder="请输入出门多久"></el-input>
					</el-form-item>
				</el-col>

				<el-col :span="16">
					<el-form-item label='学历：'>
						<el-radio-group v-model="remarkData.education">
							<el-radio v-for="(i, index) in education" :key='index' :label="i">{{i}}</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='找工作多久：'>
						<el-input v-model.trim="remarkData.findJob" placeholder="请输入找工作多久"></el-input>
					</el-form-item>
				</el-col>

				<el-col :span="16">
					<el-form-item label='当前月薪：'>
						<el-radio-group v-model="remarkData.currentSalary">
							<el-radio v-for="(i, index) in salary" :key='index' :label="i">{{i}}</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='痛点：'>
						<el-input v-model.trim="remarkData.painPoints" placeholder="请输入痛点"></el-input>
					</el-form-item>
				</el-col>
				
				<el-col :span="16">
					<el-form-item label='特殊标记：'>
						<el-checkbox-group v-model="remarkData.tags">
							<el-checkbox v-for="(i, index) in customerTags" :key='index' :label="i.value" style='margin-right: 10px;'>{{i.key}}</el-checkbox>
						</el-checkbox-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='在离职状态：'>
						<el-radio v-model="remarkData.onboarding" :label="1">在职</el-radio>
						<el-radio v-model="remarkData.onboarding" :label="2">离职</el-radio>
					</el-form-item>
				</el-col>

				<el-col :span="16">
					<el-form-item label='婚姻状况：'>
						<el-radio-group v-model="remarkData.marital">
							<el-radio v-for="(i, index) in marryStatus" :key='index' :label="i.value">{{i.key}}</el-radio>
						</el-radio-group>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='技能：'>
						<el-radio v-model="remarkData.skillTag" :label="101">普工</el-radio>
						<el-radio v-model="remarkData.skillTag" :label="102">技术工</el-radio>
					</el-form-item>
				</el-col>

				<el-col :span="24">
					<el-form-item label='抱团/单人：'>
						<el-radio-group v-model="remarkData.peoples">
							<el-radio v-model="remarkData.peoples" v-for="(i, index) in peopleGroup" :key='index' :label="i">{{i}}</el-radio>
						</el-radio-group>
						<el-input v-model.trim="remarkData.peoples" placeholder="说明" style='width: 200px;'></el-input>
					</el-form-item>
				</el-col>				

				<el-col :span="8">
					<el-form-item label='期望工作地：'>
						<el-select v-model="remarkData.expectCity" placeholder="请选期望工作地" size='small' style='width: 100%;'>
							<el-option v-for="(i, index) in regionsCity" :key="index" :label="i.name" :value="i.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='当前所在地：'>
						<el-cascader :options="addressArr" @change='getAddress($event, "currentAddress")' v-model='currentAddress'></el-cascader>
					</el-form-item>
				</el-col>

				<el-col :span="8">
					<el-form-item label='籍贯老家：'>
						<el-cascader :options="addressArr" @change='getAddress($event, "native-place")' v-model='nativePlace'></el-cascader>
					</el-form-item>
				</el-col>

				<el-col :span="24">
					<el-form-item>
						<div class="popup-action">
							<el-button type="primary" @click='submitRemark("addRemark")' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:remark:submit'}">确 定</el-button>
						</div>
					</el-form-item>
				</el-col>

			</el-form>

			<h3>添加注记</h3>
			<!-- 完成注册任务并生成历史注记 -->
			<el-form label-width='100px' v-if='signUpTask.taskTypeId === "00"'>
				<el-form-item label='*沟通方式：'>
					<el-checkbox v-model='completeTaskData.lineConnected' :label="true" :disabled="completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false" >手机</el-checkbox>

					<el-checkbox v-model='completeTaskData.wxAdded' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.telConnected || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false">微信</el-checkbox>
					
					<el-checkbox v-model='completeTaskData.telConnected' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false">固话</el-checkbox>
				</el-form-item>

				<el-form-item label='*注意：如果和用户没取得联系，请直接选择：' label-width="300px">					
					<el-checkbox v-model='completeTaskData.notTrace' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.contactFailed ? true : false">放弃跟进</el-checkbox>

					<el-checkbox v-model='completeTaskData.contactFailed' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.notTrace ? true : false">未取得联系</el-checkbox>
				</el-form-item>

				<el-form-item label='快速注记：'>
					<el-radio v-for='(i, index) in quickRecordList' v-model="completeTaskData.comment" :label='i' :key='index'>{{i}}</el-radio>
				</el-form-item>
				<el-form-item label='*注记内容：'>
					<el-input type="textarea" :rows="2" placeholder="请输入注记内容" v-model="completeTaskData.comment"></el-input>
				</el-form-item>

				<el-form-item>
					<div class="popup-action">
						<el-button :loading="recordLoading" type="primary" @click='recordComplete()'>
							<template v-if="completeTaskData.notTrace || completeTaskData.contactFailed" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:note:submit'}">确 定</template>
							<template v-else>保存注记并完成新注册任务</template>
						</el-button>
					</div>
				</el-form-item>
			</el-form>

			<!-- 普通历史注记 -->
			<el-form label-width='100px' ref="addRecord" :model='recordData' :rules='recordDataRules' v-else>
				<el-form-item label='沟通方式：' prop='communicateMethod'>
					<el-radio v-for='(i, index) in recordWay' v-model="recordData.communicateMethod" :label='i.key' :key='index'>{{i.value}}</el-radio>
				</el-form-item>
				<el-form-item label='快速注记：'>
					<el-radio v-for='(i, index) in quickRecordList' v-model="recordData.comment" :label='i' :key='index'>{{i}}</el-radio>
				</el-form-item>
				<el-form-item label='注记内容：' prop='comment'>
					<el-input type="textarea" :rows="2" placeholder="请输入注记内容" v-model="recordData.comment"></el-input>
				</el-form-item>

				<el-form-item>
					<div class="popup-action">
						<el-button :loading="recordLoading" type="primary" @click='submitRecord("addRecord")' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:note:submit'}">确 定</el-button>
					</div>
				</el-form-item>
			</el-form>
	</el-dialog>

	<!-- 跟踪提醒 Popup -->
	<el-dialog
		title="客户跟踪提醒"
		:visible.sync="isShowReturnVist"
		width="50%">
			<el-form label-width='100px' ref="returnVistTips" :model='returnVistData' :rules='returnVistDataRules'>
				<el-form-item label='提醒时间：' prop='remindTime'>
					<el-date-picker v-model="returnVistData.remindTime" :picker-options="disableOptions" type="datetime" format="yyyy-MM-dd HH:mm" value-format="timestamp" placeholder="请选择跟踪时间"></el-date-picker>
				</el-form-item>
				<el-form-item label='提醒内容：' prop='remindComment'>
					<el-input v-model="returnVistData.remindComment" type="textarea" maxlength="200" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
				</el-form-item>
				<el-form-item label='此提醒会同步为注记：' prop='communicateMethod' label-width='170px'>
					<el-radio v-for='(i, index) in recordWay' v-model="returnVistData.communicateMethod" :label='i.key' :key='index'>{{i.value}}</el-radio>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="isShowReturnVist = false">取 消</el-button>
				<el-button type="primary" @click='submitReturnVist("returnVistTips")' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:return-visit'}">确 定</el-button>
			</span>
	</el-dialog>

	<!-- 延迟跟踪提醒 Popup -->
	<el-dialog title="任务延迟处理" :visible.sync="isShowDelayTask" width="50%">
		<el-form label-width='100px' ref="delayTaskTips" :model='delayTaskData' :rules='delayTaskRules'>
			<el-form-item label='提醒时间：' prop='remindTime'>
				<el-date-picker v-model="delayTaskData.remindTime" :picker-options="disableOptions" type="datetime" format="yyyy-MM-dd HH:mm" value-format="timestamp" placeholder="请选择跟踪时间"></el-date-picker>
			</el-form-item>
			<el-form-item label='提醒内容：' prop='remindComment'>
				<el-input v-model="delayTaskData.remindComment" type="textarea" maxlength="200" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
			</el-form-item>
			<el-form-item label='此提醒会同步为注记：' prop='communicateMethod' label-width='170px'>
				<el-radio v-for='(i, index) in recordWay' v-model="delayTaskData.communicateMethod" :label='i.key' :key='index'>{{i.value}}</el-radio>
			</el-form-item>
		</el-form>
		<span slot="footer" class="dialog-footer">
			<el-button @click="isShowDelayTask = false">取 消</el-button>
			<el-button type="primary" @click='submitDelayTask("delayTaskTips")' v-track="{type: 'btn', metric: 'click', id: 'customer-detail:return-visit:submit'}">确 定</el-button>
		</span>
	</el-dialog>

	<!-- 完成注册任务 -->
	<el-dialog title="确定是否完成此任务？" :visible.sync="isShowTaskPopup" width="40%">
		<el-form label-width='100px' :model="completeTaskData" >
			<el-form-item label='* 沟通结果：' v-if="completeTaskData.taskTypeId === '00'">
				<el-checkbox v-model='completeTaskData.lineConnected' :label="true" :disabled="completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false" >已接通手机</el-checkbox>

				<el-checkbox v-model='completeTaskData.wxAdded' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.telConnected || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false">已添加微信</el-checkbox>
				
				<el-checkbox v-model='completeTaskData.telConnected' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.contactFailed || completeTaskData.notTrace ? true : false">已接通固话</el-checkbox>
				
				<el-checkbox v-model='completeTaskData.notTrace' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.contactFailed ? true : false">放弃跟进</el-checkbox>

				<el-checkbox v-model='completeTaskData.contactFailed' :label="true" :disabled="completeTaskData.lineConnected || completeTaskData.wxAdded || completeTaskData.telConnected || completeTaskData.notTrace ? true : false">未取得联系</el-checkbox>

				<p style="font-size: 12px; color: red;">（注释：接通固话/手机并成功添加微信的，请选择"已添加微信"！）</p>
			</el-form-item>

			<el-form-item label='* 沟通方式：' v-else>
				<el-radio v-for='(i, index) in recordWay' v-model="completeTaskData.communicateMethod" :label='i.key' :key='index'>{{i.value}}</el-radio>
			</el-form-item>

			<el-form-item label='* 注记内容：'>
				<el-input type="textarea" maxlength="220" :rows="3" placeholder="请填写注记内容" v-model="completeTaskData.comment"></el-input>
				<p style="font-size: 12px; color: red;">完成任务必须填写注记</p>
			</el-form-item>
		</el-form>

		<span slot="footer" class="dialog-footer">
			<el-button @click='isShowTaskPopup = false'>取 消</el-button>
			<el-button type="primary" @click='submitTask()' :loading="completeLoading" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:return-visit:submit'}">确 定</el-button>
		</span>
	</el-dialog>

	<!-- 实名认证 -->
	<el-dialog title="实名认证" :visible.sync="isShowAuth" width="30%" :modal-append-to-body='false'>
		<el-form ref="authParamForm" :model="authParam" label-width='80px' :rules='authParamRules'>
			<el-form-item label='手机号'><strong>{{info.phone}}</strong></el-form-item>

			<el-form-item label='身份证号' prop='idNo'>
				<el-input v-model.trim="authParam.idNo" type='text' placeholder='请输入身份证号'></el-input>
			</el-form-item>

			<el-form-item label='姓名' prop='name'>
				<el-input v-model.trim="authParam.name" type='text' placeholder='请输入姓名'></el-input>
			</el-form-item>
		</el-form>

		<span slot="footer" class="dialog-footer">
			<el-button @click="isShowAuth = false">取 消</el-button>
			<el-button type="primary" @click='authName("authParamForm")'>确 定</el-button>
		</span>
	</el-dialog>

	<!-- Tab 选项 -->
	<div class="lxgs-main-tab-wrapper">
		<el-tabs v-model="activeTab" @tab-click="switchTab">
            <el-tab-pane name="1">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:position-apply'}">岗位申请</span>
                <lxgs-postion ref="lxgsPosition"></lxgs-postion>
            </el-tab-pane>
            <el-tab-pane name="2">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:position-reserve'}">岗位预约记录</span>
                <lxgs-position-order-record ref="lxgsPositionOrder"></lxgs-position-order-record>
            </el-tab-pane>
            <el-tab-pane name="3">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:pick-up'}">接站记录</span>
                <lxgs-dock-station ref="lxgsDockStation"></lxgs-dock-station>
            </el-tab-pane>
            <el-tab-pane name="4">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:sign-record'}">签到记录</span>
                <lxgs-sign-record ref="lxgsSign"></lxgs-sign-record>
            </el-tab-pane>
            <el-tab-pane name="5">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:onboarding-record'}">入职离职记录</span>
                <lxgs-induction-departure-record ref="lxgsInductionDeparture"></lxgs-induction-departure-record>
            </el-tab-pane>
            <el-tab-pane name="6">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:return-fee'}">奖励记录</span>
                <lxgs-return-fee-record ref="lxgsReturnFee"></lxgs-return-fee-record>
            </el-tab-pane>
            <el-tab-pane name="7">
				<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:referral'}">推荐记录</span>
                <lxgs-recommend-record ref="lxgsRecommend"></lxgs-recommend-record>
            </el-tab-pane>
            <el-tab-pane name="8">
            	<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:following'}"><i class="el-icon-star-on"></i> 关注记录</span>
                <lxgs-focus-record ref="lxgsFocus"></lxgs-focus-record>
            </el-tab-pane>
            <el-tab-pane name="9">
            	<span slot="label" v-track="{type: 'btn', metric: 'click', id: 'customer-detail:work-card'}">工牌记录</span>
                <lxgs-work-card ref="lxgsWorkCard"></lxgs-work-card>
            </el-tab-pane>
        </el-tabs>
	</div>
</div>